<% @docs.each do |doc| %>
  
    <h2><%= link_to (doc.title), doc  %></h2>
    <p><%= time_ago_in_words(doc.created_at) %> ago</p>
    <p><%= truncate(doc.content, length: 15) %></p>
    <%= link_to 'Show', doc_path(doc) %> |
    <%= link_to 'Edit', edit_doc_path(doc) %>
  

<% end %>

<br>
<br>
<br>

<%= link_to 'Create Doc', new_doc_path %>