<h1><%= @doc.title %></h1>

<strong><%=simple_format(@doc.content) %></strong>

<%= link_to 'All Docs', docs_path %> |
<%= link_to 'Edit', edit_doc_path(@doc)%> |
<%= link_to 'Delete', doc_path(@doc), method: :delete, data:{confirm: 'Are you sure you want to delete?'} %>